<%
    if(typeof selected == 'undefined')
        selected = null;

    if(typeof range == 'number' || typeof values == 'undefined')
        values = new Array(range).fill(0).map((_, i) => i + 1);
%>

<select name="<%= name %>">
    <option value="" disabled>--Please choose an option--</option>

    <% for(let value of values) { %>
    <option value="<%= value %>"<%= value === selected ? ' selected': '' %>><%= value %></option>
    <% } %>
 </select>
