<div class="player box">
    <div class="songName"><b>Song:</b> <span class="songTitle"><%= songName %></span>
        <a href="/u/<%= songUserID %>/audio?v=<%= songTimestamp %>" download="<%= encodeURIComponent(songName) %>">
            <img style="height: 15px; float: right; padding-right: 2px;" src="/img/download.svg">
        </a>
    </div>
    <audio controls="" autoplay="" src="/u/<%= songUserID %>/audio?v=<%= songTimestamp %>" controlslist="nodownload"></audio>
</div>
